/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

a.navbar-brand {
    color: white;
}

body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.GameSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.title-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.title {
    display: flex;
    color: white;
    padding-top: 20px;
}

.GameContainer {
    /* background-color: solid black; */
    margin: auto;
    /* width: 600; */
    /* display: inline-block; */
    /* display: flex; */
    /* float: left; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gobletFireImage {
    height: 150px;
    width: 150px;
}
